In [1]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import seaborn as sns

# 맵 
import json
import geopandas as gpd
from shapely.geometry import Point,LineString,Polygon

# matplotlib
from adjustText import adjust_text
import matplotlib.patches as mpatches
import matplotlib.ticker as mtick
import matplotlib.dates as mdates
from datetime import datetime

# 진행상황
from IPython.display import display
from tqdm import tqdm

# 폰트
import matplotlib.font_manager as fm
import matplotlib as mpl

mpl.rcParams['axes.unicode_minus']=False
path = 'malgun.ttf'
fontprop = fm.FontProperties(fname=path, size=13)

# 경고제어
import warnings
warnings.filterwarnings('ignore')

In [2]:
# indcd_{분류}_yn 가 Y 인것중에
# age 별로 사용자 비중을 비교하고
# sales 별로 매출액도 비교하고
# loan 해서 대출액이 많은 지도 보고
# rpr_per_age 로 대표자의 연령대도 보고
# rpr_per_gender로 대표자의 성별도 보고
# smbiz_yn_cnt  소상공인 사업장인지 보고
# runout_cnt 휴폐점인지도 보고
# found 몇년 미만의 사업장인지도 보고
# ws_cnt로 격자내 사업장이 많은지도 보고

In [3]:
store=pd.read_csv('17.용인시_소상공인_매출정보.csv')
geo_store=gpd.read_file('16.용인시_소상공인_매출정보.geojson')
dong=gpd.read_file('12.용인시_법정경계(읍면동).geojson')

geo_store=geo_store.dropna(axis=1)

In [78]:
for idx,stores in tqdm(enumerate(geo_store['geometry'])):
    for name,area in zip(dong['EMD_KOR_NM'],dong['geometry']):
        if stores.within(area):
            geo_store.loc[idx,'동']=name

9915it [00:25, 382.24it/s]

In [90]:
# 비슷한 지역에 있을것이라 판단

geo_store.동.fillna(method='bfill',inplace=True)
geo_store.동.fillna(method='ffill',inplace=True)

# 병합
data=pd.merge(geo_store.reset_index(),store,on='gid',how='right')

In [145]:
dong['area']=dong.to_crs({'init':'epsg:4326'}).area

In [161]:
store_cnt=c_store.groupby('동',as_index=False).ws_cnt.sum()
store_cnt.columns=['EMD_KOR_NM','ws_cnt']

In [204]:
# 포화도(%) = 사업체 수 / 면적 *100 
print("포화도 Top 5")
display(c_store.동.value_counts(normalize=True))

포화도 Top 5

모현읍     0.106299
이동읍     0.062992
포곡읍     0.062992
남사면     0.049213
죽전동     0.043307
풍덕천동    0.039370
역북동     0.037402
신갈동     0.035433
유방동     0.033465
상현동     0.031496
보정동     0.029528
김량장동    0.027559
동천동     0.027559
영덕동     0.025591
양지면     0.025591
원삼면     0.025591
보라동     0.025591
신봉동     0.023622
중동      0.023622
성복동     0.021654
마북동     0.019685
마평동     0.019685
동백동     0.019685
구갈동     0.017717
고림동     0.017717
백암면     0.017717
상하동     0.015748
공세동     0.013780
언남동     0.013780
서천동     0.013780
청덕동     0.013780
삼가동     0.013780
고매동     0.011811
상갈동     0.009843
남동      0.005906
하갈동     0.003937
농서동     0.003937
고기동     0.003937
지곡동     0.003937
해곡동     0.001969
Name: 동, dtype: float64

In [169]:
data=gpd.read_file('용인3-6.geojson')

data['고령자비율']=data['고령자수']/data['총인구수']
data['생산가능인구비율']=data['생산가능인구']/data['총인구수']
data['유소년비율']=data['유소년수']/data['총인구수']

data=data.dropna().reset_index(drop=True)

dong=gpd.read_file('12.용인시_법정경계(읍면동).geojson')
dong.head()

# 구 분류
for idx,point in tqdm(enumerate(data['geometry'])):
    for name,area in zip(dong['EMD_KOR_NM'],dong['geometry']):
        if point.within(area):
            data.loc[idx,'EMD_KOR_NM']=name

# 뒤에걸로.
data['EMD_KOR_NM'].fillna(method='bfill',inplace=True)

7625it [00:17, 431.90it/s]

In [171]:
# 용인시 생산가능인구
display(data.groupby('EMD_KOR_NM',as_index=False)['생산가능인구'].sum())

   EMD_KOR_NM   생산가능인구
0         고기동   1836.0
1         고림동  16246.0
2         고매동   4482.0
3         공세동  12711.0
4         구갈동  30727.0
5        김량장동  13288.0
6          남동   2429.0
7         남사면  15877.0
8         농서동   2912.0
9         동백동  26102.0
10        동천동  29629.0
11        마북동  22897.0
12        마평동   8083.0
13        모현읍  15641.0
14        백암면   3561.0
15        보라동  20608.0
16        보정동  25439.0
17        삼가동   9318.0
18        상갈동   9793.0
19        상하동  18001.0
20        상현동  54958.0
21        서천동  15368.0
22        성복동  34163.0
23        신갈동  28658.0
24        신봉동  27224.0
25        양지면  11746.0
26        언남동  15409.0
27        역북동  24134.0
28        영덕동  28951.0
29        운학동    782.0
30        원삼면   3184.0
31        유방동   6593.0
32        이동읍  13029.0
33        죽전동  52402.0
34         중동  30256.0
35        지곡동   2936.0
36        청덕동  13953.0
37        포곡읍  27856.0
38       풍덕천동  62555.0
39        하갈동   5809.0
40        해곡동     51.0
41         호동    208.0

In [172]:
pop=pd.read_csv('population.csv')

In [179]:
pop['EMD_KOR_NM']=pop['주소'].str.split(expand=True)[3]

In [181]:
time=['TMST_00', 'TMST_01', 'TMST_02', 'TMST_03', 'TMST_04','TMST_05',
      'TMST_06', 'TMST_07', 'TMST_08', 'TMST_09', 'TMST_10','TMST_11',
      'TMST_12', 'TMST_13', 'TMST_14', 'TMST_15', 'TMST_16','TMST_17',
      'TMST_18', 'TMST_19', 'TMST_20', 'TMST_21', 'TMST_22','TMST_23']

# 유동인구 어떻게 풀어야할까? 밴드로해서 0-9시 10-3시 3-7시 이런식?
pop.groupby(['EMD_KOR_NM'])[time].sum()

,TMST_00,TMST_01,TMST_02,TMST_03,TMST_04,TMST_05,TMST_06,TMST_07,TMST_08,TMST_09,...,TMST_14,TMST_15,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23
EMD_KOR_NM,,,,,,,,,,,,,,,,,,,,,
고기동,1571.38,981.38,677.42,551.29,653.18,1787.58,5444.22,10487.24,11637.86,10806.72,...,11579.96,11375.92,11525.70,12739.72,12102.64,9242.66,6433.19,4939.71,3818.75,2467.51
고림동,7533.95,5606.91,4547.72,4202.87,5188.45,7672.94,13072.59,22566.48,28818.41,26162.61,...,28617.48,29621.83,31031.89,34562.87,34821.99,27092.58,22502.45,19073.52,14610.16,10135.70
고매동,8711.84,5709.87,4505.80,4270.39,5837.57,15117.35,33152.28,47134.27,47577.62,47177.21,...,57468.27,60648.96,65470.90,71037.89,61126.03,47335.38,36805.38,28630.82,21127.91,13089.46
공세동,6833.42,4525.75,3368.49,3002.38,3533.53,7363.88,17432.37,31486.62,33434.82,32673.77,...,37227.56,39087.94,41209.04,44136.08,38657.23,32283.13,26179.64,20429.10,15620.51,10452.52
구갈동,15438.78,10611.42,8393.73,7313.89,7356.07,11875.72,24018.50,39587.95,56345.30,48633.91,...,51352.68,54031.64,58672.97,68298.90,70191.94,61045.07,49627.16,43964.06,36267.90,24284.41
김량장동,8122.22,5862.23,4584.41,3935.92,4322.84,6726.86,12212.56,22754.65,32565.35,30197.04,...,33407.15,34214.84,35839.18,41564.40,42709.99,31810.17,25711.07,21654.78,16224.00,11358.68
남동,2355.54,1552.94,1133.72,1031.76,1613.77,3106.12,5965.54,11562.79,14164.92,12949.93,...,12332.36,12233.87,12870.70,13924.78,12710.70,9355.53,7397.94,6143.60,4622.79,3317.68
남사면,9440.60,6648.31,5328.99,5126.61,6647.95,13402.75,31562.72,56188.96,62106.89,53383.61,...,58071.50,58595.06,58414.29,60663.06,54206.25,40925.23,33075.01,26221.04,19708.86,13372.81
농서동,4124.83,3408.15,2638.00,2142.71,3795.57,12437.22,31471.36,48214.97,35199.39,23085.35,...,20933.13,20437.68,21604.38,26588.46,21065.52,15412.25,13471.87,13299.03,8815.96,5167.85
동백동,13205.55,9730.09,7840.52,7136.42,7940.68,12284.32,21844.18,31961.94,38395.83,36601.28,...,36515.07,39179.47,41279.56,45125.15,45880.71,39175.08,33206.52,30270.11,25312.46,18210.62
동천동,11447.28,7484.54,5388.87,4611.49,4985.84,9255.94,20609.39,35436.47,43729.70,40007.94,...,41209.28,43204.89,45657.82,50287.83,53205.52,46925.83,37566.83,32380.44,27559.60,17987.55
마북동,15942.72,10181.83,7373.52,6423.46,8065.06,17499.32,42059.68,69370.58,70134.18,64167.50,...,68158.92,72614.06,78714.24,88169.79,89807.46,72150.43,57632.60,49780.39,40068.91,26235.20
마평동,3245.67,2468.88,2025.37,1849.79,2413.62,3499.16,7349.03,14942.51,16420.83,14744.88,...,15471.71,15938.24,17014.25,19782.52,19685.63,13817.69,10816.53,9032.36,6661.51,4533.91
모현읍,10247.50,7497.87,6271.25,5652.26,6438.19,11140.17,23116.35,42166.88,53376.07,51758.04,...,54484.29,56186.60,53282.20,55737.51,48152.65,35824.19,29402.83,24849.93,19626.78,13958.77
백암면,5310.54,4359.90,4052.85,4128.56,4941.37,7548.71,13822.80,26465.47,33922.32,30136.22,...,32269.15,31046.99,30590.10,30471.51,25046.51,18979.52,14404.22,11233.12,8680.26,6409.55
보라동,11401.32,7924.39,6129.80,5507.10,6319.58,11361.22,22945.56,39327.66,45867.30,46079.84,...,48401.64,50246.80,53506.31,58840.93,55888.70,45383.39,36868.67,30659.25,24326.78,16650.51
보정동,24368.63,15716.22,11276.11,9597.09,11053.40,23051.56,50574.83,84870.27,94320.39,89037.54,...,94151.42,102794.74,108434.75,120594.58,126625.05,105574.10,85249.91,72949.00,59821.97,38884.13
삼가동,6689.19,4577.90,3437.43,2971.16,3260.98,6488.62,12438.37,20567.91,31708.23,29091.13,...,30508.93,30705.53,31529.09,33321.95,33393.73,25796.35,21099.60,18027.17,14100.42,9783.50
상갈동,7935.81,5321.50,4228.10,3792.06,4357.46,8971.38,21672.89,37694.79,39502.18,34277.23,...,32402.93,33312.09,36151.46,41769.13,41421.34,34458.07,28599.03,24152.61,19562.66,14087.89
상하동,9081.27,6488.70,4848.56,3898.73,4064.05,6959.48,14345.96,23423.53,30946.69,28386.88,...,31735.73,33488.33,36022.68,38708.83,39740.32,32496.20,27264.67,23965.77,19401.04,13450.53
상현동,32769.03,22521.44,17076.98,14684.93,15358.17,25467.14,44098.36,63384.75,81455.18,73578.44,...,79292.77,86645.36,97077.28,108922.46,110641.86,96210.95,81927.88,74872.03,64564.62,45402.97
서천동,4536.56,3321.60,2514.14,2127.88,2161.30,3208.01,5731.82,10018.30,13255.36,11302.84,...,12506.93,12991.29,13993.41,17656.73,17399.15,14043.57,12000.15,10923.78,9026.86,6350.45
성복동,14346.82,9051.04,6901.88,5924.15,6152.30,11016.53,22678.63,32476.26,40628.34,38164.02,...,43046.34,45529.22,48329.42,51313.31,53583.69,49931.12,42261.85,38585.50,33382.49,22672.00
신갈동,20261.16,13738.23,10708.33,9918.26,12214.22,25667.86,58711.46,92172.29,92839.44,85551.96,...,85756.28,89159.71,96763.66,108449.50,110603.50,90141.87,70113.48,59914.47,48425.98,32315.64
신봉동,14965.71,10885.04,8462.86,7298.74,7653.08,10135.75,17890.26,28121.72,36430.60,35446.86,...,40197.40,41679.11,43196.36,46528.85,46172.56,43028.76,37912.64,33656.97,29037.64,20653.64
양지면,12421.67,9209.53,7494.08,7593.84,10908.30,20120.38,43254.62,76889.92,84839.99,76962.13,...,82623.92,84932.02,85556.66,95323.59,85654.60,61020.31,48502.44,37630.66,26844.64,17970.05
언남동,6456.68,4671.20,3752.36,3508.70,4459.25,7348.55,12790.97,19324.93,23029.89,23540.53,...,24020.09,25593.08,26991.29,30153.76,30619.52,25917.28,20275.45,17496.96,14416.62,9784.62
역북동,9508.74,6904.37,5429.01,4648.37,4851.45,7073.57,13215.76,21409.52,30317.10,28701.01,...,31265.38,32825.62,35093.37,39790.76,41444.75,32482.05,27104.30,23576.91,18456.56,13197.27
영덕동,20938.53,14844.09,11523.87,10144.38,11027.43,18806.97,37037.83,62284.09,73251.27,64084.46,...,67663.88,71263.33,76841.09,87458.69,88482.62,68474.05,57871.68,51155.61,41489.29,28797.20
운학동,797.04,679.48,636.33,641.53,743.45,1035.54,1898.78,3582.14,3988.39,3407.82,...,3914.98,3831.86,3930.74,4097.59,3595.70,2458.76,1936.37,1621.58,1288.53,992.42
원삼면,6079.25,5063.33,4561.00,4339.43,4764.64,6720.40,12995.26,23492.87,28315.93,26169.62,...,30291.23,28828.18,27851.85,27340.61,23298.43,17375.37,14022.35,11474.10,9192.33,7384.31
유방동,5661.74,3987.97,3144.34,3007.53,4284.77,7880.19,15536.69,27647.14,32248.88,29000.77,...,30407.02,31457.20,32296.19,36408.36,35143.72,26354.95,21142.18,17560.45,12740.58,8250.43
이동읍,10585.65,8323.75,7187.39,6847.12,8177.23,13501.53,28484.98,52928.13,53805.94,49896.37,...,54196.63,54523.13,56353.93,63195.74,56048.99,40544.27,31979.25,25010.16,18870.81,13870.02
죽전동,27516.43,17687.45,12590.07,10450.45,11404.61,21872.23,48983.64,91857.61,111214.27,102363.11,...,119078.77,123831.66,131153.73,144278.41,149514.01,122789.81,96186.87,81069.64,68516.87,44840.55
중동,19661.13,14962.56,11898.95,10700.57,10676.66,14364.20,23033.77,34371.69,54033.16,50017.60,...,51872.59,54499.74,57801.95,62045.58,63131.60,55261.61,47491.62,42463.02,35912.49,26629.31
지곡동,1477.03,1043.38,865.55,814.35,981.59,2008.89,3442.87,5867.63,7422.09,6541.34,...,7496.50,7258.15,7482.50,7857.01,7732.80,6040.14,4878.84,3812.47,2875.97,2063.05
청덕동,8504.88,6427.35,5270.76,4851.27,5388.45,8119.57,13776.25,20545.26,25097.87,23915.87,...,24497.88,26097.07,27555.08,29306.74,28787.65,24294.71,20738.03,18906.67,15841.87,11741.85
포곡읍,20737.64,15770.67,13089.20,11730.46,13257.97,18449.55,32578.73,59018.04,79532.67,87749.99,...,105538.35,107196.16,107017.15,112240.63,105493.56,82487.45,67302.30,56526.66,40394.79,27238.36
풍덕천동,36702.09,26154.28,20665.57,18065.37,18321.94,28699.23,50304.56,76943.73,98598.27,94703.00,...,103070.33,110296.38,116607.54,130291.80,136414.67,117426.75,95303.22,85330.07,72931.83,51992.16
하갈동,4951.99,3462.81,2732.25,2603.67,3352.99,6317.29,13375.59,23234.88,26965.95,23807.25,...,23694.54,24489.39,26480.74,30604.99,29404.79,21038.48,16633.60,13724.78,10633.51,7257.23
해곡동,111.37,85.85,76.44,98.21,145.55,351.11,588.70,1423.33,1419.50,1244.32,...,2060.58,1892.35,1759.60,1679.36,1270.88,733.58,516.17,371.17,259.64,166.22
호동,145.85,128.63,110.82,109.97,135.40,231.54,549.34,949.81,1008.70,874.86,...,1003.60,970.53,941.54,915.53,771.07,520.64,404.07,328.55,248.90,188.04

In [203]:
# 제조업과 정보통신업 농업 대출이력 비교. 이거 가능 파생변수같다.
# 정보통신
display(store[store.indcd_j_yn=='Y']['sme_loan_cnt'].sum())
# 제조업
display(store[store.indcd_c_yn=='Y']['sme_loan_cnt'].sum())
# 농업 
display(store[store.indcd_a_yn=='Y']['sme_loan_cnt'].sum())

2445

5426

98

In [189]:
loads=gpd.read_file('9.용인시_도로명주소_도로.geojson')

In [193]:
for idx,lines in tqdm(enumerate(loads['geometry'])):
    for name,area in zip(dong['EMD_KOR_NM'],dong['geometry']):
        if lines.within(area):
            loads.loc[idx,'EMD_KOR_NM']=name
loads['EMD_KOR_NM'].fillna(method='bfill',inplace=True)

5891it [00:15, 378.47it/s]

In [199]:
# 도로가 얼마나 많이 이어져있는지.
loads['EMD_KOR_NM'].value_counts()

# 다리 길이로 이어진거 곱하기하면 뭔가 조정될거같기도 하고.
# loads['EMD_KOR_NM']*0.6 + loads['geometry'].length * 0.4 이런식으로.
loads['geometry'].length

백암면     594
양지면     548
원삼면     525
모현읍     481
남사면     468
이동읍     454
포곡읍     370
김량장동    153
역북동     136
고기동     125
신갈동     119
유방동     109
풍덕천동    106
고림동     104
중동       95
구갈동      95
마평동      93
동천동      90
영덕동      76
보정동      75
신봉동      72
죽전동      70
남동       68
동백동      67
운학동      65
고매동      58
보라동      58
상하동      55
서천동      51
지곡동      49
마북동      48
청덕동      45
하갈동      44
언남동      43
삼가동      41
호동       40
상갈동      39
공세동      38
상현동      37
성복동      36
해곡동      26
농서동      25
Name: EMD_KOR_NM, dtype: int64

In [207]:
structures=gpd.read_file('용인8.geojson')

In [208]:
for idx,structure in tqdm(enumerate(structures['geometry'])):
    for name,area in zip(dong['EMD_KOR_NM'],dong['geometry']):
        if structure.within(area):
            structures.loc[idx,'EMD_KOR_NM']=name
structures['EMD_KOR_NM'].fillna(method='bfill',inplace=True)

100815it [06:37, 253.86it/s]

In [211]:
# 건물 수
structures['EMD_KOR_NM'].value_counts()

모현읍     10591
남사면      8908
양지면      8647
포곡읍      8033
이동읍      7813
백암면      7562
원삼면      7088
고림동      2173
김량장동     2099
신갈동      2026
역북동      1779
중동       1768
보정동      1734
고기동      1731
동천동      1682
고매동      1628
마평동      1598
풍덕천동     1568
유방동      1533
죽전동      1373
영덕동      1360
상하동      1297
남동       1251
지곡동      1174
마북동      1145
구갈동      1078
동백동      1070
보라동      1046
신봉동      1020
하갈동       901
공세동       896
운학동       865
삼가동       863
상현동       847
언남동       797
서천동       791
성복동       785
상갈동       615
청덕동       579
농서동       464
호동        446
해곡동       191
Name: EMD_KOR_NM, dtype: int64

In [4]:
realprice=pd.read_csv('realprice.csv',encoding='cp949',thousands=',')

In [5]:
realprice['EMD_KOR_NM']=realprice['소재지'].str.split(expand=True)[0]

In [12]:
fig,ax=plt.subplots(5,5,figsize=(10,6))
for idx,a in enumerate(alphabet):
    ax[idx//5][idx%5].bar(x=a.index,height=x)
    ax[idx//5][idx%5].plot(a)
    ax.set_xticks([])

    EMD_KOR_NM  이용상황    공시지가(원/m2)
503        신갈동  상업나지  5.700000e+06
722        죽전동   상업용  3.824364e+06
235        마북동   상업용  3.672222e+06
807       풍덕천동   상업용  3.554118e+06
504        신갈동   상업용  3.464000e+06
..         ...   ...           ...
460        석천리   자연림  9.733333e+03
175        대대리   자연림  9.366667e+03
282        목신리    조림  7.100000e+03
825        학일리    조림  4.500000e+03
388        사암리    조림  4.300000e+03

[843 rows x 3 columns]

In [6]:
# 공시지가 
realprice.groupby(['EMD_KOR_NM','이용상황'],as_index=False)['공시지가(원/m2)'].mean()

    EMD_KOR_NM     이용상황     공시지가(원/m2)
0          가실리  골프장_대중제   88000.000000
1          가실리      유원지  416333.333333
2          가실리      자연림   20000.000000
3          가실리        전   99000.000000
4         가재월리     단독주택  213000.000000
..         ...      ...            ...
838        화산리      공업용  304000.000000
839        화산리     단독주택  257000.000000
840        화산리        답   79000.000000
841        화산리      자연림   16275.000000
842        화산리        전  104625.000000

[843 rows x 3 columns]

최적화 값을 곱할까?

In [124]:
# 제조업
c_store=data[data['indcd_c_yn']=='Y']

print("지역 별 제조업 사업체 총 합")
display(c_store.groupby('동').ws_cnt.sum())

cols=[col for col in c_store.columns if 'found_age' in col]
for i in range(6):
    col=cols[i]
    print(f"{i+1}년차 사업체 수 Top 5")
    display(c_store.groupby('동')[col].sum().sort_values(ascending=False)[:5])

print("휴/폐점 업 수 Top 5")
display(c_store.groupby('동')['runout_cnt'].sum().sort_values(ascending=False)[:5])

print("소상공인 사업장 수 Top 5")
display(c_store.groupby('동')['smbiz_yn_cnt'].sum().sort_values(ascending=False)[:5])

print("대표자가 남자인 사업장 수 Top 5")
display(c_store.groupby('동')['rpr_per_gender_m'].sum().sort_values(ascending=False)[:5])

print("대표자가 여자인 사업장 수 Top 5")
display(c_store.groupby('동')['rpr_per_gender_f'].sum().sort_values(ascending=False)[:5])

print("대표자가 10대인 사업장 수 Top 5")
display(c_store.groupby('동')['rpr_per_age_bin_10'].sum().sort_values(ascending=False)[:5])

print("대표자가 20대인 사업장 수 Top 5")
display(c_store.groupby('동')['rpr_per_age_bin_20'].sum().sort_values(ascending=False)[:5])

print("대표자가 30~50대인 사업장 수 Top 5")
display(c_store.groupby('동')['rpr_per_age_bin_30to50'].sum().sort_values(ascending=False)[:5])

print("대표자가 50대이상인 사업장 수 Top 5")
display(c_store.groupby('동')['rpr_per_age_bin_50over'].sum().sort_values(ascending=False)[:5])    

print("대출이력이 있는 사업장 수 Top 5")
display(c_store.groupby('동')['sme_loan_cnt'].sum().sort_values(ascending=False)[:5])  

print("2017년 3월 매출 사업장 순위 Top 5")
display(c_store.groupby('동')['sales_est_amt_201703'].sum().sort_values(ascending=False)[:5])    

print("이용자가 10대인 동 Top 5")
display(c_store.groupby('동')['age10_ratio'].sum().sort_values(ascending=False)[:5])

지역 별 제조업 사업체 수 Top 5

동
김량장동    1282
풍덕천동    1261
죽전동     1030
역북동      905
신갈동      884
Name: ws_cnt, dtype: int64

1년차 사업체 수 Top 5

동
역북동     51
동백동     36
상현동     33
풍덕천동    31
보정동     31
Name: found_age_1, dtype: int64

2년차 사업체 수 Top 5

동
역북동     164
풍덕천동    145
죽전동     121
상현동     117
보정동     113
Name: found_age_2, dtype: int64

3년차 사업체 수 Top 5

동
역북동     182
풍덕천동    126
죽전동     117
김량장동    114
상현동     110
Name: found_age_3, dtype: int64

4년차 사업체 수 Top 5

동
풍덕천동    124
김량장동    105
동백동     102
죽전동      99
역북동      83
Name: found_age_4, dtype: int64

5년차 사업체 수 Top 5

동
풍덕천동    99
김량장동    85
상현동     77
동백동     74
죽전동     73
Name: found_age_5, dtype: int64

6년차 사업체 수 Top 5

동
김량장동    795
풍덕천동    695
죽전동     544
신갈동     508
동백동     376
Name: found_age_6, dtype: int64

휴/폐점 업 수 Top 5

동
죽전동     46
김량장동    44
풍덕천동    41
상현동     40
영덕동     37
Name: runout_cnt, dtype: int64

소상공인 사업장 수 Top 5

동
김량장동    945
풍덕천동    877
죽전동     738
신갈동     657
역북동     650
Name: smbiz_yn_cnt, dtype: int64

대표자가 남자인 사업장 수 Top 5

동
풍덕천동    596
김량장동    582
죽전동     508
역북동     421
신갈동     408
Name: rpr_per_gender_m, dtype: int64

대표자가 여자인 사업장 수 Top 5

동
김량장동    700
풍덕천동    665
죽전동     522
역북동     484
신갈동     476
Name: rpr_per_gender_f, dtype: int64

대표자가 10대인 사업장 수 Top 5

동
신봉동     2
보정동     1
신갈동     1
김량장동    1
마평동     1
Name: rpr_per_age_bin_10, dtype: int64

대표자가 20대인 사업장 수 Top 5

동
역북동     75
김량장동    54
풍덕천동    43
보정동     42
죽전동     33
Name: rpr_per_age_bin_20, dtype: int64

대표자가 30~50대인 사업장 수 Top 5

동
풍덕천동    1026
김량장동     906
죽전동      869
역북동      742
동백동      704
Name: rpr_per_age_bin_30to50, dtype: int64

대표자가 50대이상인 사업장 수 Top 5

동
김량장동    321
풍덕천동    192
신갈동     164
죽전동     128
유방동     122
Name: rpr_per_age_bin_50over, dtype: int64

대출이력이 있는 사업장 수 Top 5

동
풍덕천동    440
죽전동     425
김량장동    348
상현동     344
역북동     326
Name: sme_loan_cnt, dtype: int64

2017년 3월 매출 사업장 순위 Top 5

동
풍덕천동    628802
죽전동     383977
상현동     312107
김량장동    305406
보정동     283209
Name: sales_est_amt_201703, dtype: int64

이용자가 10대인 동 Top 5

동
역북동     33.72
풍덕천동    25.55
죽전동     23.35
신봉동     20.83
보라동     14.62
Name: age10_ratio, dtype: float64